.off-canvas-wrap, .inner-wrap{height: 100%;}



.off-canvas-list {
  list-style-type: none;
  margin: 0;
  float: left;
  padding: 0;
  width: 100%;
}

.card-profile {
  background: #888;
  float: left;
  width: 100%;
  padding: 20px 10px;
}

.card-profile-ul {
  float: left;
  width: 70%;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-top: 5px;
    line-height: 1.3;


	.card-profile-username {
	  font-size: 13px;
	  font-weight: 700;
	}

	.card-profile-email {
	  font-size: 12px;
	  font-weight: 200;
	}

}



.card-profile-item{}

.card-profile-gravatar{
	 width: 50px;
	  float: left;
	  margin-left: 10px;

	img { border-radius: 50%; }	
}

